<!-- header -->
<!-- header -->
<!-- header -->
<!-- header -->
<header id="header" class="site-header header-scrolled position-fixed text-black bg-light">
  <nav id="header-nav" class="navbar navbar-expand-lg px-3">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        <img src="images/main-logo.png" class="logo" />
      </a>
      <button
        class="navbar-toggler d-flex d-lg-none order-3 p-2"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#bdNavbar"
        aria-controls="bdNavbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <svg class="navbar-icon">
          <use xlink:href="#navbar-icon"></use>
        </svg>
      </button>
      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="bdNavbar"
        aria-labelledby="bdNavbarOffcanvasLabel"
      >
        <div class="offcanvas-header px-4 pb-0">
          <a class="navbar-brand" routerLink="/">
            <img src="images/main-logo.png" class="logo" />
          </a>
          <button
            type="button"
            class="btn-close btn-close-black"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
            data-bs-target="#bdNavbar"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul
            id="navbar"
            class="navbar-nav text-uppercase justify-content-end align-items-center flex-grow-1 pe-3"
          >
            <li class="nav-item">
              <a class="nav-link me-4" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link me-4" routerLink="/products" routerLinkActive="active">Products</a>
            </li>
            @if(!islogged){
            <li class="nav-item">
              <a class="nav-link me-4 signInBtn" data-bs-toggle="modal" data-bs-target="#loginModal"
                >Sign In</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link me-4 signUpBtn" data-bs-toggle="modal" data-bs-target="#signupModal"
                >Sign Up</a
              >
            </li>
            } @else {
            <li class="nav-item">
              <a class="nav-link me-4" routerLink="/profile" routerLinkActive="active">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link me-4" (click)="logout()">Logout</a>
            </li>
            }
            <li class="nav-item">
              <div class="user-items p-3">
                <ul class="d-flex justify-content-end list-unstyled">
                  <li>
                    <a routerLink="/cart" class="d-flex cart-icon">
                      <svg class="cart">
                        <use xlink:href="#cart"></use>
                      </svg>
                      <span class="fw-bold bg-primary totalItemsInCart">{{
                        productsLengthCart
                      }}</span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
<!-- sign in -->
<!-- sign in -->
<!-- sign in -->
<!-- sign in -->
<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  data-bs-backdrop="true"
  data-bs-keyboard="true"
>
  <app-sign-in></app-sign-in>
</div>
<!-- sign up -->
<!-- sign up -->
<!-- sign up -->
<!-- sign up -->
<div
  class="modal fade"
  id="signupModal"
  tabindex="-1"
  data-bs-backdrop="true"
  data-bs-keyboard="true"
>
  <app-sign-up></app-sign-up>
</div>
