/* 2. Billboard
/*----------------------------------------------*/
/*------------Swiper Arrow -----------*/
#billboard {
  display: flex;
  justify-content: center;
  align-items: center;
}
#billboard .swiper-arrow {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.swiper-icon.swiper-arrow svg {
  fill: var(--light-gray-color);
}
.swiper-icon.swiper-arrow:hover svg,
.swiper-icon.swiper-arrow:focus svg {
  fill: var(--primary-color);
}
#billboard .swiper-arrow.swiper-arrow-prev {
  left: 0;
}
#billboard .swiper-arrow.swiper-arrow-next {
  right: 0;
}

@media only screen and (max-width: 767px) {
  #billboard .banner-content {
    margin-top: 210px;
  }
  #billboard .image-holder {
    margin-top: -390px;
    opacity: 0.3;
  }
  #billboard .swiper-arrow {
    top: 400px;
  }
}
